menu "Active Task"
    menu "Kernel"
        config FreeRTOS
            int "using FreeRTOS"
            default 1
        config MSG_BLK_NUM
            int "number of message block"
            default 8
        config DATA_BLK_NUM
            int "number of data block"
            default 8
        config DATA_BLK_MIN
            int "minimal size of data block"
            default 64
        config DATA_BLK_STACK
            int "number of data block stack"
            default 3
    endmenu
endmenu